html, body {
	height: 100%;
}

body {
	overscroll-behavior: none;
	margin: 0px;
	font-family: Arial;
}

body::-webkit-scrollbar {
	display: none;
}

#content {
	display: flex;
	flex-flow: column;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #37474f;
	color: #FFF;
	font-size: 20px;
	height: 48px;
	box-shadow: 0px 0px 2px #AAAAAA;
}

.header a{
	color:#FFF;
	text-decoration: none;
}
.header div {
	display: flex;
	align-items: center;
	padding: 0px 8px;
}

.header div img {
	padding: 8px;
}

.header .menu-icon {
	display: none;
	padding: 8px;
}

.body {
	margin-top: 48px;
	flex: 1;
	display: flex;
	height: 100%;
}

.content-wrapper {
	width: 100%;
}

.content-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.folder-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	font-size: 80%;
}

.folder-grid div{
	overflow: hidden;
}

.content-board {
	margin: 16px;
	box-shadow: 1px 2px 2px #AAAAAA;
	background-color: #F5F5F6;
}

.board-title {
	padding: 8px;
	font-size: 20px;
	background-color: #102027;
	color: #FFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.board-title div {
	display: flex;
}

.board-title a {
	color:white;
	text-decoration: none;
}

.board-element {
	display: block;
	padding: 8px;
}

.folder{
	display: block; 
	text-decoration: none;
	color: black;
}

.file, .folder{
	cursor: pointer;
	margin: 8px;
	padding: 8px;
	box-shadow: 1px 2px 2px #aaaaaa;
	background-color: #F5F5F6;
	max-width:450px;
}
.file img{
	width:100%;
}

.notification{
    position: fixed;
	padding: 8px;
    background-color: #FFF;
	box-shadow: 1px 2px 2px #aaaaaa;
    bottom: 5px;
    right: 5px;
}

.button{
	color: #FFF;
    display: table;
    background-color: #37474f;
    box-shadow: 1px 2px 2px #aaaaaa;
    font-size: 20px;
    padding: 5px;
    margin: 10px auto 0px auto;
	cursor: pointer;
}